# **BankTermPredict Project - Jackie CW Vescio**

- Scope: **BankTermPredict** is a supervised learning project focused on predicting whether a client will subscribe to a term deposit based on marketing campaign data collected by a Portuguese banking institution.

- Purpose: The classification goal is to predict if the client will subscribe (yes/no) a term deposit (variable y).

# Bank Marketing Dataset – Variables Table

| Variable Name  | Role    | Type        | Demographic        | Description                                                                                                                        | Units   | Missing Values |
|----------------|---------|-------------|--------------------|------------------------------------------------------------------------------------------------------------------------------------|---------|----------------|
| age            | Feature | Integer     | Age                | Client’s age                                                                                                                       |         | no             |
| job            | Feature | Categorical | Occupation         | Type of job (`admin.`, `blue-collar`, `entrepreneur`, `housemaid`, `management`, `retired`, `self-employed`, `services`, `student`, `technician`, `unemployed`, `unknown`) |         | no             |
| marital        | Feature | Categorical | Marital Status     | Marital status (`divorced`, `married`, `single`, `unknown`; note: `divorced` means divorced or widowed)                            |         | no             |
| education      | Feature | Categorical | Education Level    | Education level (`basic.4y`, `basic.6y`, `basic.9y`, `high.school`, `illiterate`, `professional.course`, `university.degree`, `unknown`) |         | no             |
| default        | Feature | Binary      |                    | Has credit in default?                                                                                                             |         | no             |
| housing        | Feature | Binary      |                    | Has housing loan?                                                                                                                  |         | no             |
| loan           | Feature | Binary      |                    | Has personal loan?                                                                                                                 |         | no             |
| contact        | Feature | Categorical |                    | Contact communication type (`cellular`, `telephone`)                                                                               |         | yes            |
| day_of_week    | Feature | Categorical |                    | Last contact day of the week                                                                                                       |         | no             |
| month          | Feature | Categorical |                    | Last contact month of year (`jan`, `feb`, …, `dec`)                                                                                |         | no             |
| duration       | Feature | Integer     |                    | Last contact duration in seconds. **Important:** Strongly affects target and should only be used for benchmarking—not realistic modeling. | seconds | no             |
| campaign       | Feature | Integer     |                    | Number of contacts performed during this campaign for this client (includes last contact)                                          |         | no             |
| pdays          | Feature | Integer     |                    | Number of days since client was last contacted from previous campaign (`-1` means not contacted before)                            |         | yes            |
| previous       | Feature | Integer     |                    | Number of contacts performed before this campaign for this client                                                                  |         | no             |
| poutcome       | Feature | Categorical |                    | Outcome of the previous marketing campaign (`failure`, `nonexistent`, `success`)                                                   |         | yes            |
| emp.var.rate   | Feature | Numeric     | Economic Indicator | Employment variation rate (quarterly)                                                                                              |         | no             |
| cons.price.idx | Feature | Numeric     | Economic Indicator | Consumer Price Index (monthly)                                                                                                     |         | no             |
| cons.conf.idx  | Feature | Numeric     | Economic Indicator | Consumer Confidence Index (monthly)                                                                                                |         | no             |
| euribor3m      | Feature | Numeric     | Economic Indicator | Euribor 3-month rate (daily)                                                                                                       |         | no             |
| nr.employed    | Feature | Numeric     | Economic Indicator | Number of employees (quarterly)                                                                                                    |         | no             |
| y              | Target  | Binary      |                    | Has the client subscribed to a term deposit? (`yes` = 1, `no` = 0)                                                                 |         | no             |

**Note:**  
The original UCI Bank Marketing documentation describes 41 variables because it combines details from multiple versions of the dataset (`bank.csv`, `bank-full.csv`, and `bank-additional.csv`).  
This project uses the *bank-additional-full.csv* file, which contains **21 variables** (20 features + 1 target).  
The remaining variables listed in the documentation are only present in the other dataset variants and are not available here.

## Part 1 - Data Preprocessing

### Importing the dataset

In [1]:
# Choose and define path (adjust if needed) for loading the dataset
from pathlib import Path

# If your notebook is in /notebooks, this is usually correct:
# CSV = Path("../data/bank-full.csv")

# If running from the repo root instead, uncomment this:
CSV = Path("data/bank-full.csv")

assert CSV.exists(), f"Not found: {CSV.resolve()}"
CSV

WindowsPath('data/bank-full.csv')

In [ ]:
# Load Advanced dataset and review Shape and Info of dataset

import pandas as pd
pd.set_option("display.max_columns", None)

dataset = pd.read_csv(CSV, sep=";")

print("Shape:", dataset.shape)   # should be around (45211, 17) or similar
print("\nInfo:")
print(dataset.info())

Shape: (45211, 17)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB
None

In [3]:
dataset.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [4]:
# Show dataset shape: amount of rows and columns

print("Shape:")
print(dataset.shape)

Shape:
(45211, 17)

In [5]:
# Show dataset info

print("Info:")
dataset.info()

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB